.title-image {
  grid-area: 3 / 1 / span 1 / span 9;
  display: flex;
  justify-content: center;
  height: 60vh;
}

.banner-image {
  width: 100vw;
  object-fit: cover;
  border-radius: 6px;
}

.text-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption {
  text-align: center;
}

.author-image {
  border-radius: 100px;
  width: 70%;
  padding-bottom: 10px;
  
}

.avatar-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 480px) {

  .title-image {
    height: fit-content;
    padding-top: 25px;
  }

  .banner-image {
    object-fit: contain;
  }

}

@media (min-width: 481px) and (max-width: 768px) {

  .title-image {
    height: fit-content;
    padding-top: 25px;
  }

  .banner-image {
    object-fit: contain;
  }

}